@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    /* font-family: 'Roboto', sans-serif; */
    font-family: "Carrois Gothic SC", serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Navsection{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: #522a27;
    font-size: larger;
    color: white;
}
.Navsection span{
    cursor: pointer;
}
.sidebasrSection{
    border: 1px solid rgb(9, 10, 9);
    width: 100%;
    max-width: 15%;
    height: auto;
    background-color:#001011;
    color: aliceblue;
}
.sidebasrSection ul li{
    padding-bottom: 20px;
    font-size: large;
    list-style: none;
    cursor: pointer;
}
.sidebasrSection ul li:hover{
    color: #1A1B41;
    background-color:#c1eef1;
    text-align: center;
    padding-top: 15px;
}
.sidebasrSection ul li:active {
    color: #c2c3e6; /* Color while clicked */
    background-color: #010b0b; /* Background while clicked */
    font-size: 1.5rem;
}
.Navsection span:active{
   
    font-size: 1.5rem; 
}
.Navsection span:hover{
    background-color: aliceblue;
    color: #001011;
   
}
.collectionSection{
    display: flex;
}
.loginSection ,.resisterSection ,.firmSection ,.productSection{
display: flex;
justify-content: center;
width: 100%;
align-items: center;
color: aliceblue;
}

.authForms ,.firmProductForms{
    margin-top: 10px;
border-radius: 10px;
background-color: #37371F;
width: 100%;
max-width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: larger;
-webkit-box-shadow: inset -1px -4px 133px 1px rgba(0,0,0,0.75);
-moz-box-shadow: inset -1px -4px 133px 1px rgba(0,0,0,0.75);
box-shadow: inset -1px -4px 133px 1px rgba(0,0,0,0.75);
}
.firmProductForms{
    font-size: medium;
    padding-left: 10px;
    max-width: 55%;
}
.authForms input ,.firmProductForms input{
    width: 80%;
    border-radius: 10px;
    height: 1.5rem;
}
button{
    
    margin: 10px;
    border-radius: 10px;
    height: 35px;
    width: 100px;
    font-size: large;
    color: #1A1B41;
}
button:hover{
    background-color: rgb(26, 8, 8);
    color: aliceblue;
}
button:active{
background-color: rgb(1, 9, 16);
color: #c0ecec;
font-size: 1.5rem;
}
.inputlables ,.checkboxcontainer{
    display: flex; 
    
}
.checkboxcontainer label{
    width: 120px;
    padding-left: 70px;
}
.inputlables{
    justify-content: safe;
}


.category ,.region {
    width: 100%;
    max-width: 100%;
}
.region .inputlables .checkboxcontainer label{
    width:140px;
    font-size: 0.9rem;
    color: rgb(231, 205, 205);
}

/*product table styling*/
.product-table{
    border: 1px solid green;
    width: 75vw;
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: 50px;
}
.product-table th,.product-table td{
    border: 1px solid green;
    align-items: center;
    text-align: center;
}
.product-table th{
    background-color: rgb(231, 205, 205);
}
/* error page */
.pageerror ,.welcomepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.pageerror h1{
    font-size: 5rem;
}
.welcomepage h1 {
 font-size: 3rem;
 
}